<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
        <nav>
            {{- partial "nav.html" . -}}
        </nav>
        <main>
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{if .IsHome }}
            <footer>
                {{- partial "footer.html" . -}}
            </footer>
        {{  end  }}
    </body>
</html>